:80 {
    root * /usr/share/caddy
    file_server
    handle /api/* {
        uri strip_prefix /api
        reverse_proxy directus:8055
    }
    handle {
        try_files {path} {path}/ /index.html
    }
}
